/*Add your custom styles here*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fff;
    width: 100%;
    border:3px solid #000;
    text-align: center;
}

thead{
    background-color:grey;
}

tr{
    &:nth-child(2n){
        background-color: skyblue;
    }
}

th{
    padding: 16px;
    border: 1px solid #000;
}

td{
    padding: 6px 10px;
    border:1px solid #000;
}