/*Add your custom styles here*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    margin: 0 .5em 0 0;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.table{
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fff;
    border:3px solid #000;
    text-align: center;
    margin: 20px 10px;
}

.table__head{
    color: #fff;
    background-color:grey;
    border: 2px solid #000;
    letter-spacing: 0.03em;
}

.table__head th{
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
}

.table__body tr:nth-child(2n){
    background-color: lightgrey;
}

.table__body tr:hover{
    background-color: lightgreen;
}

.table__body td{
    padding: 12px 8px;
    border:1px solid #000;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.btn{
    font-size: 0.8rem;
    padding: 5px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 250px;
    padding: 1.3rem;
    position: fixed;
    top: 10%;
    z-index: 2;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

}

.modal__wrapper-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal__btn--close{
    font-size: 0.8rem;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal__title{
    margin: 0 0 5px 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form input {
    margin: 0px 0px 10px 0px;
}

.form label {
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
